	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Doc Manager App</title>

	<%
		if (assets.hasOwnProperty('css')) {

			assets.css.forEach((asset) => {
				%><link href="build/<%= asset %>" rel="stylesheet" type="text/css"><%
			});

		}
 	%>