	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Doc Manager App</title>
	
	<!-- Css Libs -->
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href="public/libs/foundation.min.css" rel="stylesheet">
	<link href="public/libs/foundation-icons.css" rel="stylesheet">
	<link href="public/css/styles.css" rel="stylesheet">

	<!-- Js Libs -->
	<script src="public/libs/jquery-3.1.1.min.js"></script>
	<script src="public/libs/foundation.min.js"></script>
