.btn:focus, .upload-btn:focus{
  outline: 0 !important;
}

html,
body {
  height: 100%;
  background: #403A3E; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #403A3E , #BE5869); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #403A3E , #BE5869); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.progress .meter {
    background: #008CBA;
    display: block;
    height: 100%;
    float: left;
    width: 0%;
}

.upload-page .panel {
  background: #fff;
}
