<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../../partials/head %>

</head>

<body class="login-page">

    <div class="row">
            <div class="medium-6 medium-centered large-4 large-centered columns">
            <form method="post">
                  <div class="columns xsmall-12 log-in-form">
                        <h4 class="text-center">Log in with your email account</h4>
                        <label>Email
                            <input name="username" type="text" placeholder="Your email" />
                        </label>
                        <label>Password
                            <input name="password" type="password" placeholder="Your password"/>
                        </label>
                        <p><a type="submit" class="button expanded">Log In</a></p>
                        <p class="text-center"><a href="#">Forgot your password?</a></p>
                  </div>
            </form>
          </div>
    </div>

<% include ../../partials/footer %>

</body>

</html>