<!DOCTYPE html>
<html lang="it">

	<% include ../partials/head %>

	<body class="home">

		<div class="row">

			<div class="small-12 small-centered columns">
			
				<h1>Node doc manager</h1>

			</div>

		</div>

		<div class="row">
			<div class="small-8 medium-6 large-5 small-centered columns">

				<div class="header panel">
					<div class="sign">
						<h2>new products</h2>
					</div>
					<p>
						<span>Dude! I Want that!</span> In addition to their portability and minimal space requirements for storage, the Equalizer bars also simplify workouts by consolidating all exercises to a single machine that requires no weight stack adjustments or significant alterations between them. Each weighs 8 pounds, and the system has been tested to support up to 400 pounds of body weight.
					</p>
				</div>

			</div>
		</div>
		
		<% include ../partials/footer %>

	</body>

</html>