<!DOCTYPE html>
<html lang="it">

	<head>

		<% include ../partials/head %>
		
		<script src="js/upload.js"></script>

	</head>

	<body class="upload-page">
		<div class="row">
			<div class="columns xsmall-12 text-center">
				<div class="panel">
					<i class="fi-upload-cloud large"></i>
					<h2>Document upload</h2>
					<label for="progress"></label>
					<div class="progress">
						<span class="meter"></span>
					</div>
					<a href="#" class="button upload-btn">Upload File</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="xsmall-12 large-12 columns name">
				<label>Name
					<input type="text" placeholder="Insert document name" />
				</label>
			</div>
		</div>
		<div class="row">
			<div class="xsmall-12 large-6 columns month">
				<label>Select Month
					<select>
						<option value="01">Jenuary</option>
						<option value="02">February</option>
						<option value="03">March</option>
						<option value="04">April</option>
						<option value="05">May</option>
						<option value="06">June</option>
						<option value="07">July</option>
						<option value="08">August</option>
						<option value="09">September</option>
						<option value="10">October</option>
						<option value="11">November</option>
						<option value="12">December</option>
					</select>
				</label>
			</div>
			<div class="xsmall-12 large-6 columns year">
				<label>Year
					<input type="text" placeholder="Insert document year" />
				</label>
			</div>
		</div>
		</div>

		<input id="upload-input" style="display: none;" type="file" name="uploads[]" multiple="multiple"></br>
		
		<% include ../partials/footer %>

	</body>

</html>