<!DOCTYPE html>
<html lang="it">

	<head>

		<% include ../partials/head %>
		
		<script src="public/js/upload.js"></script>

	</head>

	<body class="upload-page">

		<form id="upload-form" data-abide novalidate>
			<div class="row">
				<div class="small-12 text-center columns">
					<div class="callout">
						<i class="fi-upload-cloud large"></i>
						<h2>Document upload</h2>
						<label for="progress"></label>
						<div class="progress small-4 small-centered">
							<span class="meter"></span>
						</div>
						<a href="#" class="button upload-btn">Upload File</a>
						<input id="upload-input" style="display: none;" type="file" name="uploads" multiple="multiple">
						<p class="help-text">Once you have compiled all the required files you can upload files</p>
					</div>
				</div>
			</div>
			<!-- Error message -->
			<div class="row">
				<div class="small-12 columns text-center">
					<div data-abide-error class="alert callout" style="display: none;">
						<p><i class="fi-alert"></i> Plese compile all the required fields</p>
					</div>
				</div>
			</div>
			<!-- Fields -->
			<div class="row">
				<fieldset class="small-12 large-12 columns title">
					<label>Title
						<input type="text" placeholder="Insert document title" required />
					</label>
					<span class="form-error">
						Please give your document a title
					</span>
				</fieldset>
			</div>
			<div class="row">
				<fieldset class="small-12 large-6 columns month">
					<label>Select Month
						<select required>
							<option value=""></option>
							<option value="01">Jenuary</option>
							<option value="02">February</option>
							<option value="03">March</option>
							<option value="04">April</option>
							<option value="05">May</option>
							<option value="06">June</option>
							<option value="07">July</option>
							<option value="08">August</option>
							<option value="09">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
					</label>
					<span class="form-error">
						Select the document month
					</span>
				</fieldset>
				<fieldset class="small-12 large-6 columns year">
					<label>Year
						<input type="text" placeholder="Insert document year" required pattern="number" />
					</label>
					<span class="form-error">
						Insert the document year
					</span>
				</fieldset>
			</div>
			<div class="row">
				<fieldset class="small-12 large-12 columns description">
					<label>Description
        				<textarea placeholder="Give a simple description of the document contents here" rows="6"></textarea>
					</label>
					<span class="form-error">
						Please give your document a title
					</span>
				</fieldset>
			</div>
		</form>

		<% include ../partials/footer %>

	</body>

</html>